interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://trends.google.com/trends/api/explore?hl=en-US&req=%7B%22comparisonItem%22%3A+%5B%7B%22keyword%22%3A+%22lab+grown+diamonds%22%2C+%22time%22%3A+%22today+12-m%22%2C+%22geo%22%3A+%22IN%22%7D%5D%2C+%22category%22%3A+0%2C+%22property%22%3A+%22%22%7D&tz=330
  response:
    body:
      string: ')]}''

        {"widgets":[{"request":{"time":"2025-09-06 2026-09-06","resolution":"WEEK","locale":"en-US","comparisonItem":[{"geo":{"country":"IN"},"complexKeywordsRestriction":{"keyword":[{"type":"BROAD","value":"lab
        grown diamonds"}]}}],"requestOptions":{"property":"","backend":"IZG","category":0},"userConfig":{"userType":"USER_TYPE_SCRAPER"}},"lineAnnotationText":"Search
        interest","bullets":[{"text":"lab grown diamonds"}],"showLegend":false,"showAverages":false,"helpDialog":{"title":"Interest
        over time","content":"Numbers represent search interest relative to the highest
        point on the chart for the given region and time. A value of 100 is the peak
        popularity for the term. A value of 50 means that the term is half as popular.
        A score of 0 means there was not enough data for this term."},"token":"ANI_2wMAAAAAap7lkWNH0AAT_9oEn-gNNW-oXsU1nf-e","id":"TIMESERIES","type":"fe_line_chart","title":"Interest
        over time","template":"fe","embedTemplate":"fe_embed","version":"1","isLong":true,"isCurated":false},{"request":{"geo":{"country":"IN"},"comparisonItem":[{"time":"2025-09-06
        2026-09-06","complexKeywordsRestriction":{"keyword":[{"type":"BROAD","value":"lab
        grown diamonds"}]}}],"resolution":"REGION","locale":"en-US","requestOptions":{"property":"","backend":"IZG","category":0},"userConfig":{"userType":"USER_TYPE_SCRAPER"}},"geo":"IN","resolution":"provinces","searchInterestLabel":"Search
        interest","displayMode":"regions","helpDialog":{"title":"Interest by subregion","content":"See
        in which location your term was most popular during the specified time frame.
        Values are calculated on a scale from 0 to 100, where 100 is the location
        with the most popularity as a fraction of total searches in that location,
        a value of 50 indicates a location which is half as popular. A value of 0
        indicates a location where there was not enough data for this term. \u003cp\u003e\u003cp\u003e
        \u003cb\u003eNote:\u003c/b\u003e A higher value means a higher proportion
        of all queries, not a higher absolute query count. So a tiny country where
        80% of the queries are for \"bananas\" will get twice the score of a giant
        country where only 40% of the queries are for \"bananas\".","url":"https://support.google.com/trends/answer/4355212"},"color":"PALETTE_COLOR_1","index":0,"bullet":"lab
        grown diamonds","token":"ANI_2wMAAAAAap7lkYq9H6yl3fAIW2Ngb78V2OfKo1LH","id":"GEO_MAP","type":"fe_geo_chart_explore","title":"Interest
        by subregion","template":"fe","embedTemplate":"fe_embed","version":"1","isLong":true,"isCurated":false},{"request":{"restriction":{"geo":{"country":"IN"},"time":"2025-09-06
        2026-09-06","originalTimeRangeForExploreUrl":"today 12-m","complexKeywordsRestriction":{"keyword":[{"type":"BROAD","value":"lab
        grown diamonds"}]}},"keywordType":"ENTITY","metric":["TOP","RISING"],"trendinessSettings":{"compareTime":"2024-09-05
        2025-09-05"},"requestOptions":{"property":"","backend":"IZG","category":0},"language":"en","userCountryCode":"IN","userConfig":{"userType":"USER_TYPE_SCRAPER"}},"helpDialog":{"title":"Related
        topics","content":"Users searching for your term also searched for these topics.
        You can view by the following metrics: \u003cp\u003e* \u003cb\u003eTop\u003c/b\u003e
        - The most popular topics. Scoring is on a relative scale where a value of
        100 is the most commonly searched topic and a value of 50 is a topic searched
        half as often as the most popular term, and so on. \u003cp\u003e* \u003cb\u003eRising\u003c/b\u003e
        - Related topics with the biggest increase in search frequency since the last
        time period. Results marked \"Breakout\" had a tremendous increase, probably
        because these topics are new and had few (if any) prior searches."},"color":"PALETTE_COLOR_1","keywordName":"lab
        grown diamonds","token":"ANI_2wMAAAAAap7lkQBirtWQ6viI0R-gO-nkjmpZfS3U","id":"RELATED_TOPICS","type":"fe_related_searches","title":"Related
        topics","template":"fe","embedTemplate":"fe_embed","version":"1","isLong":false,"isCurated":false},[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://trends.google.com/trends/api/widgetdata/comparedgeo?req=%7B%22geo%22%3A+%7B%22country%22%3A+%22IN%22%7D%2C+%22comparisonItem%22%3A+%5B%7B%22time%22%3A+%222025-09-06+2026-09-06%22%2C+%22complexKeywordsRestriction%22%3A+%7B%22keyword%22%3A+%5B%7B%22type%22%3A+%22BROAD%22%2C+%22value%22%3A+%22lab+grown+diamonds%22%7D%5D%7D%7D%5D%2C+%22resolution%22%3A+%22REGION%22%2C+%22locale%22%3A+%22en-US%22%2C+%22requestOptions%22%3A+%7B%22property%22%3A+%22%22%2C+%22backend%22%3A+%22IZG%22%2C+%22category%22%3A+0%7D%2C+%22userConfig%22%3A+%7B%22userType%22%3A+%22USER_TYPE_SCRAPER%22%7D%2C+%22includeLowSearchVolumeGeos%22%3A+true%7D&token=ANI_2wMAAAAAap7lkYq9H6yl3fAIW2Ngb78V2OfKo1LH&tz=330
  response:
    body:
      string: ')]}'',

        {"default":{"geoMapData":[{"geoCode":"IN-CH","geoName":"Chandigarh","value":[100],"formattedValue":["100"],"maxValueIndex":0,"hasData":[true]},{"geoCode":"IN-DL","geoName":"Delhi","value":[97],"formattedValue":["97"],"maxValueIndex":0,"hasData":[true]},{"geoCode":"IN-KA","geoName":"Karnataka","value":[89],"formattedValue":["89"],"maxValueIndex":0,"hasData":[true]},{"geoCode":"IN-HR","geoName":"Haryana","value":[82],"formattedValue":["82"],"maxValueIndex":0,"hasData":[true]},{"geoCode":"IN-TG","geoName":"Telangana","value":[81],"formattedValue":["81"],"maxValueIndex":0,"hasData":[true]},{"geoCode":"IN-MH","geoName":"Maharashtra"[...]
