interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia/all-access/user/Thisarticledoesnotexistxyz123/monthly/20250906/20260906
  response:
    body:
      string: '{"detail":"The date(s) you used are valid, but we either do not have
        data for those date(s), or the project you asked for is not loaded yet. Please
        check documentation for more information","method":"get","status":404,"title":"Not
        Found","type":"about:blank","uri":"/metrics/pageviews/per-article/en.wikipedia/all-access/user/Thisarticledoesnotexistxyz123/monthly/20250906/20260906"}'
    headers:
      content-type:
      - application/problem+json
      etag:
      - W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-analytics:
      - ''
      x-client-ip:
      - 2401:4900:5f26:4052:61e1:c7bb:c64:3791
    status:
      code: 404
      message: Not Found
version: 1
