interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia/all-access/user/Machine_learning/monthly/20260310/20260906
  response:
    body:
      string: '{"items":[{"project":"en.wikipedia","article":"Machine_learning","granularity":"monthly","timestamp":"2026030100","access":"all-access","agent":"user","views":49627},{"project":"en.wikipedia","article":"Machine_learning","granularity":"monthly","timestamp":"2026040100","access":"all-access","agent":"user","views":66954},{"project":"en.wikipedia","article":"Machine_learning","granularity":"monthly","timestamp":"2026050100","access":"all-access","agent":"user","views":59002},{"project":"en.wikipedia","article":"Machine_learning","granularity":"monthly","timestamp":"2026060100","access":"all-access","agent":"user","views":56949},{"project":"en.wikipedia","article":"Machine_learning","granularity":"monthly","timestamp":"2026070100","access":"all-access","agent":"user","views":60130},{"project":"en.wikipedia","article":"Machine_learning","granularity":"monthly","timestamp":"2026080100","access":"all-access","agent":"user","views":55669},{"project":"en.wikipedia","article":"Machine_learning","granularity":"monthly","timestamp":"2026090100","access":"all-access","agent":"user","views":9756}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      x-analytics:
      - ''
      x-client-ip:
      - 2401:4900:5f26:4052:61e1:c7bb:c64:3791
    status:
      code: 200
      message: OK
version: 1
