interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia/all-access/user/Artificial_intelligence/monthly/20250906/20260906
  response:
    body:
      string: '{"items":[{"project":"en.wikipedia","article":"Artificial_intelligence","granularity":"monthly","timestamp":"2025090100","access":"all-access","agent":"user","views":279818},{"project":"en.wikipedia","article":"Artificial_intelligence","granularity":"monthly","timestamp":"2025100100","access":"all-access","agent":"user","views":349106},{"project":"en.wikipedia","article":"Artificial_intelligence","granularity":"monthly","timestamp":"2025110100","access":"all-access","agent":"user","views":323056},{"project":"en.wikipedia","article":"Artificial_intelligence","granularity":"monthly","timestamp":"2025120100","access":"all-access","agent":"user","views":325445},[...]
