interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hn.algolia.com/api/v1/search?query=AI+resume+builder&tags=story
  response:
    body:
      string: '{"exhaustive":{"nbHits":false,"typo":false},"exhaustiveNbHits":false,"exhaustiveTypo":false,"hits":[{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"rrmdp"},"title":{"fullyHighlighted":false,"matchLevel":"full","matchedWords":["ai","resume","builder"],"value":"Show
        HN: <em>Resume</em> Yay: The Free <em>AI</em> <em>Resume</em> <em>Builder</em>
        that also finds you jobs"},"url":{"matchLevel":"none","matchedWords":[],"value":"https://resumeyay.com/?via=jobboardsearch&utm_source=site&utm_campaign=first&utm_id=jobboardsearch"}},"_tags":["story","author_rrmdp","story_43760352","show_hn"],"author":"rrmdp","children":[43761042],"created_at":"2025-04-22T09:26:07Z","created_at_i":1745313967,"num_comments":2,"objectID":"43760352","points":5,"story_id":43760352,"title":"Show
        HN: Resume Yay: The Free AI Resume Builder that also finds you jobs","updated_at":"2025-04-22T22:34:35Z","url":"https://resumeyay.com/?via=jobboardsearch&utm_source=site&utm_campaign=first&utm_id=jobboardsearch"},{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"serdaraksoy"},"story_text":{"fullyHighlighted":false,"matchLevel":"full","matchedWords":["ai","resume","builder"],"value":"Hey
        everyone,<p>A while back, I shared how I built a tool that handles job applications
        from end to end on Reddit. I was blown away by how many job seekers gave it
        a try and shared their experiences. While a good number of you landed new
        roles and many received interviews, plenty of others only got rejection emails.<p>But
        we also noticed a pattern: a lot of thes[...]
